html, body {
    height: 100%; /* Alterado de 100vh para 100% para melhorar a flexibilidade */
    overflow-x: hidden; /* Mantém a rolagem horizontal oculta */
}

.main-content, #professionsMenu, #recipesMenu, #recipeDetails {
    overflow-y: auto; /* Mantém a rolagem vertical quando necessário */
}

/* Ajustes para garantir que o conteúdo principal seja flexível e acessível */
.main-content {
    height: auto; /* Permite que o conteúdo principal se ajuste ao conteúdo */
    min-height: 60vh; /* Garante uma altura mínima para o conteúdo principal */
    max-height: none; /* Remove a restrição de altura máxima */
}

#professionsMenu, #recipesMenu, #recipeDetails {
    max-height: none; /* Remove a restrição de altura máxima */
}

/* Melhorias para responsividade e visualização de tabelas e listas */
.table-responsive, .list-group-item {
    box-sizing: border-box; /* Garante que o padding e border estejam incluídos na largura total */
}

.bg-gray {
    background-color: rgb(216, 216, 216);
}

@media (max-width: 768px) {
    /* Ajustes para telas menores (tablets e smartphones) */
    .main-content {
        max-height: none; /* Remove restrições de altura máxima para telas menores */
    }

    .table, #professionsMenu, #recipesMenu, #recipeDetails {
        max-height: none; /* Permite que elementos expandam conforme necessário em telas menores */
    }
}
